<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color: #F3F6F8;" bgcolor="#F3F6F8">
    <div style="position: absolute; left: 40%; background-color: #ffffff; border-radius: 5px; padding: 20px;">
      <div style="align-content: left;">
        <h2>Please verify your email</h2>
        <p>Hi <b><%= @user.username %></b>, </p>
        <p>
          <p>Thanks for registering! Click the button below to verify your email.</p>
          <p><a href=<%= @url %>?confirmation_token=<%= @user.confirm_token %>> <button style="background: #fff; color: green; border-width: 1px; font-weight: 900; font-size: 1em; height: 42px; line-height: 15px; border-color: green; border-radius: 5px; box-shadow: solid; padding: 11px 22px; cursor: pointer;">Verify</button></a></p>
        </p>
      </div>
      <div style="height: 20px; background: green; position: absolute; left: 0%; right: 0%"></div>
    </div>
  </body>
</html>
