---
version: 2.0
jobs:
  build:
    working_directory: ~/dimba-api
    docker:
      - image: circleci/ruby:2.5.0-node
      - image: circleci/postgres:9.5-alpine
    steps:
      - checkout
      # Bundle install dependencies
      - run: bundle install --path vendor/bundle
      - save_cache:
          key: dimba-api-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

  rake_test:
    working_directory: ~/dimba-api
    docker:
      - image: circleci/ruby:2.5.0-node
        environment:
          CC_TEST_REPORTER_ID: 3b1eb72982e5d07c429f5e28389be86acc4f108999e3a8e6248d99b78c9236a4
          PGHOST: localhost
          PGUSER: dimba-api
          RAILS_ENV: test
          DATABASE_URL: postgresql://dimba-api@localhost/dimba-api
      - image: postgres:9.5
        environment:
          POSTGRES_USER: dimba-api
          POSTGRES_DB: dimba-api
          POSTGRES_HOST_AUTH_METHOD: trust
    steps:
      - checkout
      - restore_cache:
        key: dimba-api-{{ checksum "Gemfile.lock" }}
      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run: bundle exec rake db:drop db:create db:schema:load
      - run:
          name: Setup Code Climate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
      - run:
          name: Run tests
          command: |
            bundle exec rspec
            ./cc-test-reporter before-build
            ./cc-test-reporter after-build --exit-code $?

  # deploy:
  #   machine:
  #       enabled: true
  #   working_directory: ~/dimba-api
  #   environment:
  #     HEROKU_APP: dimba-api
  #   steps:
  #     - restore_cache:
  #         key: dimba-api-{{ checksum "Gemfile.lock" }}
  #     - run: bundle --path vendor/bundle
  #     - run:
  #         name: Deploy Master to Heroku(fake)
  #         command: bundle exec rake

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - rake_test:
          requires:
            - build
