<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="padding-left: 33.3%; padding-right: 33.3%; padding-top: 20px; padding-bottom: 20px;">
      <div style="align-content: left;">
        <h2>Hi <%= @user.username %>!</h2>
        <p>
        <p>Click the button below to reset your password.</p>
        <p><a href=<%= @url %>?password_reset_token=<%= @user.password_reset_token %>> <button style="background: #fff; color: green; border-width: 1px; font-weight: 900; font-size: 1em; height: 42px; line-height: 15px; border-color: green; border-radius: 5px; box-shadow: solid; padding: 11px 22px; cursor: pointer;">Reset</button></a></p>
        </p>
      </div>
    </div>
  </body>
</html>
